<div class="about-area ptb-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-8 col-lg-offset-2">
        <div class="about-text">
          <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/16729398_10154847999935351_7201897918158495639_n.png?oh=063bacbfe4edee92849edacc796d5368&oe=5AF46B9D" alt="">
          <div class="about-text-title text-center">
            <h2>
              welcome to <%= current_store.name %>
            </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dol in reprehenderit in </p>
          </div>
          <div class="about-counter">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="single-count text-center mb-30">
                  <div class="count-title">
                    <h2 class="count">20</h2>
                    <span>Years in Business</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="single-count text-center mb-30">
                  <div class="count-title">
                    <h2 class="count">200</h2>
                    <span>Clients and Partners</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="single-count text-center mb-30">
                  <div class="count-title">
                    <h2 class="count">15</h2>
                    <span>Billion Sales</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial-area">
            <h2 class="main-title">What people say?</h2>
            <div class="testimonial-active">
              <div class="single-testimonial text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dol in reprehenderit in .</p>
                <h2>Tayeb Rayed</h2>
                <h3>CEO at company</h3>
              </div>
              <div class="single-testimonial text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dol in reprehenderit in .</p>
                <h2>Tayeb Rayed</h2>
                <h3>CEO at company</h3>
              </div>
              <div class="single-testimonial text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dol in reprehenderit in .</p>
                <h2>Tayeb Rayed</h2>
                <h3>CEO at company</h3>
              </div>
            </div>
          </div>
          <div class="our-team">
            <h2 class="main-title">our team member</h2>
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="single-team">
                  <div class="team-img-name">
                    <img alt="" src="https://onmilwaukee.com/images/articles/ka/katy-perry-bmo-harris-bradley-center/katy-perry-bmo-harris-bradley-center_fullsize_story1.jpg">
                    <div class="member-title text-center">
                      <h2>Martin Jerry</h2>
                      <p>Ceo Founder</p>
                    </div>
                  </div>
                  <div class="member-info text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum</p>
                    <div class="member-social">
                      <a class="m-facebook" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                      <a class="m-twitter" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a class="m-g-plus" href="#">
                        <i class="fa fa-google-plus"></i>
                      </a>
                      <a class="m-linkedin" href="#">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="single-team team-mrg">
                  <div class="team-img-name">
                    <img alt="" src="https://peopledotcom.files.wordpress.com/2016/08/taylor-swift-800-23.jpg?w=800">
                    <div class="member-title text-center">
                      <h2>farhana shuvo</h2>
                      <p>Ceo Founder</p>
                    </div>
                  </div>
                  <div class="member-info text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum</p>
                    <div class="member-social">
                      <a class="m-facebook" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                      <a class="m-twitter" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a class="m-g-plus" href="#">
                        <i class="fa fa-google-plus"></i>
                      </a>
                      <a class="m-linkedin" href="#">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="single-team team-mrg">
                  <div class="team-img-name">
                    <img alt="" src="http://wallpaperzone.co/wp-content/uploads/2016/08/Demi-Lovato-Wallpaper-4K-800x600.jpg">
                    <div class="member-title text-center">
                      <h2>tayeb rayed</h2>
                      <p>Ceo Founder</p>
                    </div>
                  </div>
                  <div class="member-info text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer condimentum</p>
                    <div class="member-social">
                      <a class="m-facebook" href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                      <a class="m-twitter" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a class="m-g-plus" href="#">
                        <i class="fa fa-google-plus"></i>
                      </a>
                      <a class="m-linkedin" href="#">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
