/*
 *= require mira/bootstrap.min
 *= require mira/owl.carousel.min
 *= require mira/pe-icon-7-stroke
 *= require mira/font-awesome.min
 *= require mira/meanmenu
 *= require mira/shortcodes/shortcode
 *= require mira/style
 *= require mira/responsive
 */

 button#search {
   background:none;
   border:none;
   font-size:1em;
 }
