<div class="breadcrumb-area">
    <div class="container-fluid text-center">
        <div class="breadcrumb-stye gray-bg ptb-100">
            <h2 class="page-title"><%= title %></h2>
            <%= render partial: 'spree/shared/search' %>
        </div>
    </div>
</div>
